.form {
  width: 332px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background-color: $color-main;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  position: sticky;
  top: 16px;
  left: 32px;
  box-sizing: border-box;

  @media (max-width: $screen-lg) {
    left: 24px;
  }

  @media (max-width: $screen-md) {
    left: 16px;
  }

  @media (max-width: $screen-sm) {
    position: static;
    margin: 0 0 16px;
  }

  &__label {
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: $text-color-secondary;
    margin: 0 0 4px;
    position: relative;

    &_required:after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-danger;
    }
  }

  &__field {
    appearance: none;
    width: 100%;
    background-color: $color-main;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
      0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    border: none;
    padding: 10px 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    height: 36px;
    color: $text-color-primary;
    outline: none;

    &:focus {
      border: 1px solid $color-focus;
    }

    &::placeholder {
      color: $text-color-primary_muted;
    }

    &_invalid {
      border: 1px solid $color-danger;
    }

    &_type_description {
      resize: none;
      height: 108px;
      margin: 0 0 16px;
    }
  }

  &__error {
    visibility: hidden;
    opacity: 0;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: $color-danger;
    transition: all 0.3s ease-in;
    margin: 4px 0 2px;
  }

  &__error_visible {
    visibility: visible;
    opacity: 1;
  }

  &__button {
    width: 100%;
    height: 36px;
    background-color: $color-success;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
    margin: 8px 0 0;

    &_disabled {
      background-color: $color-main_darken;
      box-shadow: none;
      color: $text-color-primary_muted;
      pointer-events: none;
    }
  }
}
