.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 16px;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: $text-color-primary;
  }
}
