$color-danger: #ff8484;
$color-success: #7bae73;
$color-main: #fffefb;
$color-main_darken: #eee;
$color-main_dark: #e5e5e5;

$text-color-primary: #3f3f3f;
$text-color-secondary: #49485e;
$text-color-primary_muted: #b4b4b4;

$font-family: 'Source Sans Pro', sans-serif;
