$color-danger: #ff8484;
$color-success: #7bae73;
$color-focus: #c8c5d6;
$color-main: #fffefb;
$color-main_darken: #eee;
$color-main_dark: #e5e5e5;

$text-color-primary: #3f3f3f;
$text-color-primary_muted: #b4b4b4;
$text-color-secondary: #49485e;

$font-family: 'Source Sans Pro', sans-serif;

$screen-sm: 666px;
$screen-md: 986px;
$screen-lg: 1316px;
$screen-xl: 1440px;
